{% extends "base.html" %}
{% load blog_extras cache%}




{% block content %}

<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}

{% row %}
    <div class="col">
        {#not best practice#}
        {{ post.content|safe }}
    </div>
{% endrow %}

{% include "blog/post-comments.html" %}
{% row %}
    {% col %}
        {#Add cache for a spacefec part its recent posts only not for comments or entire page#}
        {% cache 3600 recent_posts post %}
        {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}


{% if post.author.user_profile %}
    {% row %}
        {% col %}
            <h4>About the author</h4>
            <p>{{ post.author.user_profile.bio }}</p>
        {% endcol %}
    {% endrow %}
{% endif %}

{% endblock %}

